// $headings-font-family: 'Kanit', sans-serif;
// $body-font-family: 'Courier Prime', monospace;
// $synth-subheadings-font-family: pirulen, sans-serif;
// $synth-h1-font-family: sofachrome, sans-serif;

$fonts: (
    headings: 'Kanit',
    body: 'Courier Prime',
    synth-subheadings: pirulen,
    synth-headings: sofachrome,
);