$colors: (
    dark-purple: #650D89,
    dark-blue: #023788,
    dark-pink: #f6019d,
    light-purple: #791e94,
    light-blue: #2de2e6,
    light-pink: #f706cf,
    dark: #0d0221,
    light: white,
    light-red: #ff3864,
    dark-yellow: #f9c80e
);