.primary-cta {
    background-color: var(--clr-light-red);
    color: var(--clr-light);
    border: none;
}

.primary-cta:hover {
    background-color: var(--clr-light-pink);
    color: var(--clr-light);
    box-shadow: 0px 0px 10px 5px var(--clr-light-purple);
    cursor: crosshair;
}